@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));

:root {
  --primary: oklch(0.2 0 0);
  --primary-foreground: oklch(1.0000 0 0);
  --radius: 0.5rem;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
}

body {
  margin: 0;
  padding: 0;
  background: #08080e;
  overflow: hidden;
}
